**Gabril Hozanna**

**P_G2DA4172**

# **Module 4 Homework**

In [1]:
!wget https://cdn.discordapp.com/attachments/951132539878273095/961847925296754688/superstore_orders.zip -O superstore_orders.zip
!unzip superstore_orders.zip

--2022-04-10 06:34:01--  https://cdn.discordapp.com/attachments/951132539878273095/961847925296754688/superstore_orders.zip
Resolving cdn.discordapp.com (cdn.discordapp.com)... 162.159.135.233, 162.159.133.233, 162.159.134.233, ...
Connecting to cdn.discordapp.com (cdn.discordapp.com)|162.159.135.233|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 556008 (543K) [application/zip]
Saving to: ‘superstore_orders.zip’

superstore_orders.z 100%[===================>] 542.98K  --.-KB/s    in 0.04s

2022-04-10 06:34:01 (14.4 MB/s) - ‘superstore_orders.zip’ saved [556008/556008]

Archive:  superstore_orders.zip
  inflating: superstore_orders.csv
  inflating: __MACOSX/._superstore_orders.csv

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
df = pd.read_csv("/content/superstore_orders.csv",sep=';')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2020-152156,08/11/20,11/11/20,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2020-152156,08/11/20,11/11/20,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2020-138688,12/06/20,16/06/20,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2019-108966,11/10/19,18/10/19,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2019-108966,11/10/19,18/10/19,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   object
 3   Ship Date       9994 non-null   object
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Customer Name   9994 non-null   object
 7   Segment         9994 non-null   object
 8   Country/Region  9994 non-null   object
 9   City            9994 non-null   object
 10  State           9994 non-null   object
 11  Postal Code     9983 non-null   float64
 12  Region          9994 non-null   object
 13  Product ID      9994 non-null   object
 14  Category        9994 non-null   object
 15  Sub-Category    9994 non-null   object
 16  Product Name    9994 non-null   object
 17  Sales           9994 non-null   float64
 18  Quantity        9994 non-null   int64
 19  Discount        9994 non-null   float64
 20  Profit          9994 non-null   float64
dtypes: float64(4), int64(2), object(15)
memory usage: 1.6+ MB

In [5]:
df.head().transpose()

,0,1,2,3,4
Row ID,1,2,3,4,5
Order ID,CA-2020-152156,CA-2020-152156,CA-2020-138688,US-2019-108966,US-2019-108966
Order Date,08/11/20,08/11/20,12/06/20,11/10/19,11/10/19
Ship Date,11/11/20,11/11/20,16/06/20,18/10/19,18/10/19
Ship Mode,Second Class,Second Class,Second Class,Standard Class,Standard Class
Customer ID,CG-12520,CG-12520,DV-13045,SO-20335,SO-20335
Customer Name,Claire Gute,Claire Gute,Darrin Van Huff,Sean O'Donnell,Sean O'Donnell
Segment,Consumer,Consumer,Corporate,Consumer,Consumer
Country/Region,United States,United States,United States,United States,United States
City,Henderson,Henderson,Los Angeles,Fort Lauderdale,Fort Lauderdale
State,Kentucky,Kentucky,California,Florida,Florida
Postal Code,42420.0,42420.0,90036.0,33311.0,33311.0
Region,South,South,West,South,South
Product ID,FUR-BO-10001798,FUR-CH-10000454,OFF-LA-10000240,FUR-TA-10000577,OFF-ST-10000760
Category,Furniture,Furniture,Office Supplies,Furniture,Office Supplies
Sub-Category,Bookcases,Chairs,Labels,Tables,Storage
Product Name,Bush Somerset Collection Bookcase,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Self-Adhesive Address Labels for Typewriters b...,Bretford CR4500 Series Slim Rectangular Table,Eldon Fold 'N Roll Cart System
Sales,261.96,731.94,14.62,957.5775,22.368
Quantity,2,3,2,5,2
Discount,0.0,0.0,0.0,0.45,0.2
Profit,41.9136,219.582,6.8714,-383.031,2.5164

In [6]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Row ID,9994.0,4997.500000,2885.163629,1.000,2499.25000,4997.5000,7495.750,9994.000
Postal Code,9983.0,55245.233297,32038.715955,1040.000,23223.00000,57103.0000,90008.000,99301.000
Sales,9994.0,229.858001,623.245101,0.444,17.28000,54.4900,209.940,22638.480
Quantity,9994.0,3.789574,2.225110,1.000,2.00000,3.0000,5.000,14.000
Discount,9994.0,0.156203,0.206452,0.000,0.00000,0.2000,0.200,0.800
Profit,9994.0,28.656896,234.260108,-6599.978,1.72875,8.6665,29.364,8399.976

## Change data type from object (order date & ship date) to datetime.

In [7]:
df["Order Date"]= pd.to_datetime(df["Order Date"])
df["Ship Date"]= pd.to_datetime(df["Ship Date"])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   datetime64[ns]
 3   Ship Date       9994 non-null   datetime64[ns]
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Customer Name   9994 non-null   object
 7   Segment         9994 non-null   object
 8   Country/Region  9994 non-null   object
 9   City            9994 non-null   object
 10  State           9994 non-null   object
 11  Postal Code     9983 non-null   float64
 12  Region          9994 non-null   object
 13  Product ID      9994 non-null   object
 14  Category        9994 non-null   object
 15  Sub-Category    9994 non-null   object
 16  Product Name    9994 non-null   object
 17  Sales           9994 non-null   float64
 18  Quantity        9994 non-null   int64
 19  Discount        9994 non-null   float64
 20  Profit          9994 non-null   float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(13)
memory usage: 1.6+ MB

## Check Missing Value

In [9]:
df['Postal Code'].isnull().sum()

11

In [10]:
df_null= df[df.isnull().any(axis=1)]
df_null.transpose()

,2234,5274,8798,9146,9147,9148,9386,9387,9388,9389,9741
Row ID,2235,5275,8799,9147,9148,9149,9387,9388,9389,9390,9742
Order ID,CA-2021-104066,CA-2019-162887,US-2020-150140,US-2020-165505,US-2020-165505,US-2020-165505,US-2021-127292,US-2021-127292,US-2021-127292,US-2021-127292,CA-2019-117086
Order Date,2021-05-12 00:00:00,2019-07-11 00:00:00,2020-06-04 00:00:00,2020-01-23 00:00:00,2020-01-23 00:00:00,2020-01-23 00:00:00,2021-01-19 00:00:00,2021-01-19 00:00:00,2021-01-19 00:00:00,2021-01-19 00:00:00,2019-08-11 00:00:00
Ship Date,2021-10-12 00:00:00,2019-09-11 00:00:00,2020-10-04 00:00:00,2020-01-27 00:00:00,2020-01-27 00:00:00,2020-01-27 00:00:00,2021-01-23 00:00:00,2021-01-23 00:00:00,2021-01-23 00:00:00,2021-01-23 00:00:00,2019-12-11 00:00:00
Ship Mode,Standard Class,Second Class,Standard Class,Standard Class,Standard Class,Standard Class,Standard Class,Standard Class,Standard Class,Standard Class,Standard Class
Customer ID,QJ-19255,SV-20785,VM-21685,CB-12535,CB-12535,CB-12535,RM-19375,RM-19375,RM-19375,RM-19375,QJ-19255
Customer Name,Quincy Jones,Stewart Visinsky,Valerie Mitchum,Claudia Bergmann,Claudia Bergmann,Claudia Bergmann,Raymond Messe,Raymond Messe,Raymond Messe,Raymond Messe,Quincy Jones
Segment,Corporate,Consumer,Home Office,Corporate,Corporate,Corporate,Consumer,Consumer,Consumer,Consumer,Corporate
Country/Region,United States,United States,United States,United States,United States,United States,United States,United States,United States,United States,United States
City,Burlington,Burlington,Burlington,Burlington,Burlington,Burlington,Burlington,Burlington,Burlington,Burlington,Burlington
State,Vermont,Vermont,Vermont,Vermont,Vermont,Vermont,Vermont,Vermont,Vermont,Vermont,Vermont
Postal Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Region,East,East,East,East,East,East,East,East,East,East,East
Product ID,TEC-AC-10001013,FUR-CH-10000595,TEC-PH-10002555,TEC-AC-10002926,OFF-AR-10003477,OFF-ST-10001526,OFF-PA-10000157,OFF-PA-10001970,OFF-AP-10000828,OFF-EN-10001509,FUR-BO-10004834
Category,Technology,Furniture,Technology,Technology,Office Supplies,Office Supplies,Office Supplies,Office Supplies,Office Supplies,Office Supplies,Furniture
Sub-Category,Accessories,Chairs,Phones,Accessories,Art,Storage,Paper,Paper,Appliances,Envelopes,Bookcases
Product Name,Logitech ClearChat Comfort/USB Headset H390,Safco Contoured Stacking Chairs,Nortel Meridian M5316 Digital phone,Logitech Wireless Marathon Mouse M705,4009 Highlighters,Iceberg Mobile Mega Data/Printer Cart,Xerox 191,Xerox 1881,Avanti 4.4 Cu. Ft. Refrigerator,Poly String Tie Envelopes,"Riverside Palais Royal Lawyers Bookcase, Royal..."
Sales,205.03,715.2,1294.75,99.98,8.04,1564.29,79.92,12.28,542.94,2.04,4404.9
Quantity,7,3,5,2,6,13,4,1,3,1,5
Discount,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Profit,67.6599,178.8,336.635,42.9914,2.7336,406.7154,37.5624,5.7716,152.0232,0.9588,1013.127

In [11]:
# df['State'].value_counts()

In [12]:
check_postalcode_uniq = df[['State','Postal Code']].drop_duplicates()
check_postalcode_uniq

               State  Postal Code
0           Kentucky      42420.0
2         California      90036.0
3            Florida      33311.0
5         California      90032.0
12    North Carolina      28027.0
...              ...          ...
9760        Arkansas      72762.0
9801      California      95240.0
9834           Texas      77571.0
9868            Ohio      45040.0
9881         Georgia      30188.0

[631 rows x 2 columns]

Setiap state terdiri beberapa postal code yang berbeda.

In [13]:
validate_vermont_isnull = df['State']=='Vermont'
validate_vermont_isnull.sum()

11

Ternyata yang bernilai null Statenya Vermont namun jika dilihat dari sumber berikut [Postal Code Vermont](https://www.vermont-demographics.com/zip_codes_by_population) terdapat perbedaan kode meskipun statenya sama. Untuk sementara dibiarkan saja.

## Question

### Number 1

How much sales do we have on 2018? 

Please answer without any decimal and rounding, eg: if the answer is 2000.323, please put 2000

In [14]:
df['Year'] = df['Order Date'].dt.year

In [15]:
sales_2018 = df.loc[df['Year']==2018]
sales_2018

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Year
5,6,CA-2018-115812,2018-09-06,2018-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.860,7,0.0,14.1694,2018
6,7,CA-2018-115812,2018-09-06,2018-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.280,4,0.0,1.9656,2018
7,8,CA-2018-115812,2018-09-06,2018-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152,6,0.2,90.7152,2018
8,9,CA-2018-115812,2018-09-06,2018-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.504,3,0.2,5.7825,2018
9,10,CA-2018-115812,2018-09-06,2018-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.900,5,0.0,34.4700,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9946,9947,CA-2018-111157,2018-02-03,2018-06-03,Standard Class,NH-18610,Nicole Hansen,Corporate,United States,Philadelphia,...,East,TEC-AC-10004353,Technology,Accessories,Hypercom P1300 Pinpad,151.200,3,0.2,32.1300,2018
9956,9957,US-2018-143287,2018-11-11,2018-11-17,Standard Class,KN-16705,Kristina Nunn,Home Office,United States,New Rochelle,...,East,OFF-PA-10001776,Office Supplies,Paper,"Wirebound Message Books, Four 2 3/4"" x 5"" Form...",46.350,5,0.0,21.7845,2018
9957,9958,US-2018-143287,2018-11-11,2018-11-17,Standard Class,KN-16705,Kristina Nunn,Home Office,United States,New Rochelle,...,East,OFF-PA-10004039,Office Supplies,Paper,Xerox 1882,223.920,4,0.0,109.7208,2018
9958,9959,US-2018-143287,2018-11-11,2018-11-17,Standard Class,KN-16705,Kristina Nunn,Home Office,United States,New Rochelle,...,East,OFF-SU-10001574,Office Supplies,Supplies,Acme Value Line Scissors,7.300,2,0.0,2.1900,2018
9989,9990,CA-2018-110422,2018-01-21,2018-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028,2018

In [16]:
total_sales = sales_2018['Sales'].sum()
total_sales

484247.4981

### Number 2

Which year has the highest profit? 

Please answer without any decimal and rounding, eg: if the answer is 2000.323, please put 2000

In [17]:
profit = df.groupby('Year')['Profit'].aggregate(['sum']).sort_values('Year', ascending=False)
profit

             sum
Year
2021  93439.2696
2020  81795.1743
2019  61618.6037
2018  49543.9741

### Number 3

Which sub category has minus profit? 

Separate answer with comma, sort alphabetically. Eg: Paper, Storage, Supplies.

In [18]:
# minus_profit = df.sort_values('Profit')
minus_profit = df[['Sub-Category','Profit']]
minus_profit = minus_profit[minus_profit['Profit'] < 0]
minus_profit['Sub-Category'].value_counts()

Binders        613
Chairs         235
Tables         203
Furnishings    167
Storage        161
Phones         136
Bookcases      109
Accessories     91
Appliances      67
Machines        44
Supplies        33
Fasteners       12
Name: Sub-Category, dtype: int64

In [19]:
minus_profit['Sub-Category'].unique()

array(['Tables', 'Appliances', 'Binders', 'Chairs', 'Bookcases',
       'Furnishings', 'Storage', 'Accessories', 'Phones', 'Machines',
       'Supplies', 'Fasteners'], dtype=object)

In [20]:
minus_profit.drop_duplicates(subset=['Sub-Category']).sort_values('Sub-Category')

     Sub-Category     Profit
100   Accessories   -10.7973
14     Appliances  -123.8580
15        Binders    -3.8160
27      Bookcases -1665.0522
23         Chairs    -1.0196
1062    Fasteners    -2.2134
36    Furnishings  -147.9630
165      Machines -1359.9920
130        Phones   -11.9940
74        Storage   -18.1960
178      Supplies    -3.7715
3          Tables  -383.0310

### Number 4

What is the result of matrix multiplication a (left) and b (right)? 

Not element wise multiplication

In [21]:
a = np.array([[1,2,3], [4,5,6], [7,8,9]])
b = np.array([[2,3,4],[5,6,7],[8,9,10]])

In [22]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [23]:
b

array([[ 2,  3,  4],
       [ 5,  6,  7],
       [ 8,  9, 10]])

In [24]:
c = np.matmul(a,b)
c

array([[ 36,  42,  48],
       [ 81,  96, 111],
       [126, 150, 174]])

### Number 5

Let's say we have loop function to calculate sum of all numbers from 1 to a given number. What is the result of sum if we input 100? 

If we input number 5, we will sum 1+2+3+4+5=15, so the result will be 15.

In [25]:
def sum_number (number):
  result = []
  for i in range(1,number+1): result.append(i)
  return sum(result)

In [26]:
sum_number(100)

5050

### Convert google colab jupyter notebook (.ipynb) to HTML

In [27]:
# %%shell
# jupyter nbconvert --to html ///content/4_P_G2DA4172.ipynb